@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: turn into talwind */

@font-face {
  font-family: "Coves Light";
  src: url("/fonts/Coves-Light.otf");
}

@font-face {
  font-family: "Coves Bold";
  src: url("/fonts/Coves-Bold.otf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("/fonts/Poppins-Medium.ttf");
}

.font-poppinsMedium {
  font-family: "Poppins Medium";
}

.font-poppinsRegular {
  font-family: "Poppins Regular";
}

.font-covesLight {
  font-family: "Coves Light", sans-serif;
}

.font-covesBold {
  font-family: "Coves Bold", sans-serif;
}

body {
  transition: background-color 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --background: 0 0% 92%;
    --foreground: 222.2 84% 4.9%;

    --high-contrast: rgb(255 255 255);

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: rgb(68 64 60);
    --secondary-foreground: 222.2 47.4% 11.2%;

    --badge-background: black;
    --card-background: rgba(255, 255, 255, 0.5);

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --high-contrast: rgb(0, 0, 0);

    /* --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%; */

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: rgb(211, 206, 201);
    --secondary-foreground: 210 40% 98%;

    --badge-background: white;
    --card-background: 222.2 84% 4.9%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.badge {
  background-color: var(--badge-background);
  color: var(--high-contrast);
}

.text-secondary {
  color: var(--secondary);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.motion-area {
  overflow: hidden;
  position: absolute;
  /* margin: 32px !important; */
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.bg-blur {
  filter: blur(90px);
}

.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.03;
  z-index: 1000;
  pointer-events: none;
  background: url(/images/noise.gif);
}

.bg-shape1 {
  width: 800px;
  height: 800px;
  border-radius: 9999px;
  position: relative;
  animation: one 8s infinite linear;
}

.bg-shape2 {
  width: 800px;
  height: 800px;
  border-radius: 9999px;
  position: relative;
  animation: two 15s infinite linear;
}

.card {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: var(--card-background);
}

/* TODO: tornar responsivo */
@keyframes one {
  0% {
    left: -350px;
    top: -400px;
  }
  10% {
    left: -350px;
    top: 300px;
  }
  20% {
    left: 200px;
    top: 300px;
  }
  30% {
    left: 1000px;
    top: 300px;
  }
  40% {
    left: 1000px;
    top: -400px;
  }
  50% {
    left: 300px;
    top: -400px;
  }
  60% {
    left: -350px;
    top: -400px;
  }
  70% {
    left: 0px;
    top: 300px;
  }
  80% {
    left: 600px;
    top: 300px;
  }
  90% {
    left: 200px;
    top: -200px;
  }
  100% {
    left: -350px;
    top: -400px;
  }
}

@keyframes two {
  0% {
    left: 300px;
    top: -350px;
  }
  5% {
    left: 300px;
    top: 200px;
  }
  10% {
    left: -200px;
    top: 250px;
  }
  15% {
    left: -1000px;
    top: 250px;
  }
  20% {
    left: -1000px;
    top: -350px;
  }
  25% {
    left: -400px;
    top: -350px;
  }
  30% {
    left: 100px;
    top: 250px;
  }
  35% {
    left: 300px;
    top: 250px;
  }
  40% {
    left: 300px;
    top: -350px;
  }
  45% {
    left: -300px;
    top: -350px;
  }
  50% {
    left: -1000px;
    top: -350px;
  }
  55% {
    left: -1000px;
    top: 250px;
  }
  60% {
    left: -400px;
    top: 250px;
  }
  65% {
    left: 100px;
    top: 0px;
  }
  70% {
    left: -300px;
    top: -350px;
  }
  75% {
    left: -1000px;
    top: -350px;
  }
  80% {
    left: -1000px;
    top: 250px;
  }
  85% {
    left: -300px;
    top: 250px;
  }
  90% {
    left: 300px;
    top: 250px;
  }
  100% {
    left: 300px;
    top: -350px;
  }
}

.bg-primary {
  background-color: rgba(29, 108, 255, 0.9);
}

.bg-teal {
  background-color: rgba(168, 26, 211, 0.9);
}

@layer utilities {
  .nav {
    @apply relative tracking-[1px];
  }

  .nav::after {
    @apply absolute -bottom-[0px] left-0 h-[3px] w-[0%] rounded-xl bg-zinc-800 duration-300 content-[''];
  }

  .nav:hover::after {
    @apply w-[100%];
  }

  .text-balance {
    text-wrap: balance;
  }
}
